@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
body {
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: "poppins", sans-serif;
    background: #000080;
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQj7r3JPib7hAY8ISMy9lqLUDRa94WNA0KAoA&usqp=CAU');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; */
  }

#playerpage{
    display: flex;
    margin-top: 5rem;
    margin-left: 2rem;
}

.playerImage{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.playerImage img {
    width: 17rem;
    height: 20rem;
}


.playerContents{
    font-size: 3rem;
    margin-left: 2.5rem;
    margin-right: 0.5rem;
}
